"*":
  _dartlang:
    _errorsInitialized: true
    _initialized: true
    _initializedSymLinks: true
    _version: "0.4.13"
  "accents-ui":
    accentColor:
      alpha: 1
      blue: 111
      green: 97
      red: 36
  "api-docs":
    c: true
    cpp: true
    html: false
    http: false
    less: true
    node: true
    npm: true
    python2: true
    react: true
    react_native: true
    sass: true
  "atom-beautify":
    _analyticsUserId: "eb357ca2-9e88-4bff-b807-ed6009c312ba"
    c_configPath: "/home/geequlim/.atom/uncrustify.cfg"
    cpp_configPath: "/home/geequlim/.atom/uncrustify.cfg"
    cs_configPath: "/home/geequlim/.atom/uncrustify.cfg"
  "atom-json-editor": {}
  "atom-material-ui":
    colors: {}
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
  "atom-ternjs":
    useSnippets: true
  "atom-twitter-client": {}
  "autocomplete-clang": {}
  "autocomplete-plus":
    autoActivationDelay: 500
  "autocomplete-python":
    useSnippets: "required"
  "browser-plus": {}
  "build-tools": {}
  "color-picker":
    preferredFormat: "HEX"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "atom-react-native-css"
      "linter-gcc"
    ]
    followSymlinks: false
    packagesWithKeymapsDisabled: [
      "tree-view-finder"
      "tool-bar"
      "python-yapf"
      "atom-ternjs"
      "url-encode"
      "git-control"
      "git-plus"
      "jsonlint"
      "build-tools"
      "glsl-preview"
      "video-player"
      "save-autorun"
    ]
    themes: [
      "one-light-ui"
      "gl-light-syntax"
    ]
  "dark-flat-ui":
    accentColor: "blue"
  dartlang:
    sdkLocation: "/usr/lib/dart"
  "daylight-ui":
    layoutMode: "Compact"
  docblockr:
    extra_tags: [
      "@brief"
    ]
    per_section_indent: true
  editor:
    fontFamily: "Consolas"
    fontSize: 24
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "4bec4974-5cbb-0e8f-74f5-434772af33b4"
  "file-icons": {}
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "flex-tool-bar":
    showConfigButton: false
    useBrowserPlusWhenItIsActive: true
  fonts: {}
  "git-plus": {}
  "glsl-preview": {}
  "imdone-atom":
    openIn: {}
    todaysJournal: {}
  jshint:
    supportLintingJsx: true
  jsonlint:
    hideOnNoErrors: true
    validateOnChange: true
  "language-babel": {}
  linter:
    displayLinterInfo: true
    errorPanelHeight: 84
    showErrorTabLine: true
  "linter-checkbashisms": {}
  "linter-clang":
    clangDefaultCppFlags: "-std=c++11"
  "linter-cppcheck":
    executable: "codelite_cppcheck"
  "linter-eslint":
    disableEslintIgnore: true
  "linter-flake8": {}
  "linter-gcc":
    gccErrorLimit: 15
    gccIncludePaths: "."
    gccSuppressWarnings: true
  "linter-glsl":
    glslangValidatorPath: "/home/geequlim/Application/DevelopTools/glslangValidator"
  "linter-jsxhint": {}
  "linter-lua": {}
  "linter-python-pep257": {}
  "linter-shellcheck": {}
  "markdown-preview": {}
  minimap: {}
  nuclide:
    remoteProjectsConfig: []
  "one-dark-ui":
    fontSize: 18
    layoutMode: "Compact"
  "one-light-ui":
    fontSize: 16
    layoutMode: "Compact"
  "paper-flat-ui": {}
  pigments:
    groupPaletteColors: "by file"
  "python-iresolve": {}
  "python-isort": {}
  "python-tools":
    pythonPath: "/usr/bin/python"
    smartBlockSelection: false
  "python-yapf":
    yapfPath: "/usr/local/bin/yapf"
  react:
    enabledForAllJavascriptFiles: true
  "save-autorun":
    timeout: 50
  script:
    stopOnRerun: true
  "switch-header-source":
    samePane: true
  "symbols-tree-view":
    autoToggle: true
    zAutoHideTypes: "variable"
  "sync-settings":
    _analyticsUserId: "ac15e7e2-f3eb-426c-92fd-5fac99fec5fe"
    _lastBackupHash: "a2c7307040fd8818ee77102e0549b0e8190717f8"
    gistId: "876d50dff2ac2035675d"
    personalAccessToken: "3e3f4c71cd726d54bf4495473accad9d20ff908b"
  "terminal-panel": {}
  "terminal-plus":
    core:
      workingDirectory: "Active File"
    style:
      fontFamily: "Consolas"
      fontSize: "22"
    toggles:
      autoClose: true
  "tool-bar":
    position: "Left"
  "tree-view":
    hideVcsIgnoredFiles: false
  "tree-view-finder": {}
  "video-player": {}
  welcome:
    showOnStartup: false
  "xml-formatter":
    endLineCharacter: "LF (\\n)"
    numberCharIndent: 4
  "you-complete-me":
    ycmdPath: "/usr/share/vim/vimfiles/third_party/ycmd"
".ini.source":
  editor:
    tabLength: 4
".python.source":
  editor:
    autoIndentOnPaste: true
